<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <title>Daniella - personal / resume template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="icon" type="image/png" href="assets/img/favicon.png"/>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="assets/theme/css/theme.css">
    </head>

<body data-offset="50" data-spy="scroll" data-target=".navigation">
<!-- FIXED NAVBAR -->

  <nav  class="navigation" id="js-nav">
    <div class="">
      <div class="navbar-header">
        <a href="#" class="header-logo-full mt-15"><img src="" alt="store logo">
        <span class="h3 text-center">Daniella Montinola</span>
        </a>

        <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
          navigation <span class="ti-menu"></span>
        </button>
        <a class="navbar-scroll arrow bounce text-center" href="#about">
                    <span class="ti-mouse"></span>
                    scroll down
                    <span class="ti-angle-double-down"></span>
                </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav">
          <li><a href="#about">about me</a></li>
          <li><a href="#services">services</a></li> 
          <li><a href="#portfolio">portfolio</a></li>
          <li><a href="#testimonials">web apps</a></li>
          <li><a href="#timeline">experience</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- / FIXED NAVBAR -->
    
  <div class="about" id="about">
    <div class="container-fluid no-padding">
      <div class="row about-content relative">
        <div class="col-md-6 no-padding static">

          <div class="about-image">   
            <div class="about-image-box">
              <span class="about-image-header">hello.</span>
              <p> My name is Daniella Montinola, welcome! I hope you'll find my background excitingly diverse. I believe it gives me a unique edge, and a creative and resourceful perspective in everything that I do.
              </p>
              <ul class="about-social mt-30">
                <li><a href="https://github.com/dmonti15" class="pull-left"><span class="ti-github"></span></a></li>
                <li><a href="https://www.instagram.com/handsomedanni/" class="pull-left"><span class="ti-instagram"></span></a></li>
                <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
                <!-- <li><a href="#" class="pull-left"><span class="ti-vimeo"></span></a></li>
                <li><a href="#" class="pull-left"><span class="ti-tumblr"></span></a></li> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-md-push-1 pt-60 pb-60 pl-30 pr-30 pull-left">
          <div class="about-box">
            <h6 class="uppercase bold">About Me</h6>
            <p class="small">
              After college, I accepted a Creative Manager position at Core Group One, Inc. – one of the top five advertising agencies in Hawaii. At Core Group One, I worked on advertising campaigns and managed projects for companies like Taco Bell, Pizza Hut, Restaurant Week and University of Hawaii. I was also the website manager for Ala Moana Center, the largest outdoor mall in Hawaii, as well as the agency’s biggest client. Managing the client’s website led me to discover my interest in technology. In the last year, I completed a Web Development program with Actualize Chicago, wherein I honed my skills in programming languages like Ruby and JavaScript. Currently, I am a freelance web developer managing several projects and continuing to develop my experience as a project manager in the technology industry.
            </p>
          </div>

          <!-- <div class="about-box">
            <h6 class="uppercase bold">Personal </h6>
            <p class="small">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div> -->

          <div class="row">
            <div class="about-box col-md-12">
              <h6 class="uppercase bold">Experience </h6>
              <div class="about-experience row pt-0">
                <div class="col-md-4">
                  <span class="about-experience-date small">July 2017</span>
                </div>

                <div class="col-md-8">
                  <span class="about-experience-job">QA Engineer Intern</span>
                  <p class="small">Ora Interactive</p>
                </div>
              </div>
              <div class="about-experience row">
                <div class="col-md-4">
                  <span class="about-experience-date small">January 2017</span>
                </div>

                <div class="col-md-8">
                  <span class="about-experience-job">Student</span>
                  <p class="small">Actualize Coding Bootcamp and Apprenticeship</p>
                </div>
              </div>
              <div class="about-experience row">
                <div class="col-md-4">
                  <span class="about-experience-date small">January 2014</span>
                </div>

                <div class="col-md-8">
                  <span class="about-experience-job">Creative Manager</span>
                  <p class="small">Core Group One, Inc.</p>
                </div>
              </div>

              <div class="about-experience row">
                <div class="col-md-4">
                  <span class="about-experience-date small">July 2012</span>
                </div>

                <div class="col-md-8">
                  <span class="about-experience-job">Marketing Intern</span>
                  <p class="small">M Nightclub</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="about-box col-md-12">
                <h6 class="uppercase bold">Education </h6>
                <div class="about-experience row pt-0">
                  <div class="col-md-4">
                    <span class="about-experience-date small">2017</span>
                  </div>

                  <div class="col-md-8">
                    <span class="about-experience-job">Full Stack Web Developer</span>
                    <p class="small">Actualize Coding Bootcamp and Apprenticeship | Chicago, IL</p>
                  </div>
                </div>
                <div class="about-experience row">
                  <div class="col-md-4">
                    <span class="about-experience-date small">2014</span>
                  </div>

                  <div class="col-md-8">
                    <span class="about-experience-job">BA in Advertising and Public Relations</span>
                    <p class="small">Hawaii Pacific University | Honolulu, HI</p>
                  </div>
                </div>
              </div>
          </div> 



          <!-- <div class="about-box">
            <h6 class="uppercase bold">Cover Letter</h6>
            <p class="small">
              My name is Daniella Montinola. My undergraduate degree is in Advertising and Public Relations. In my previous career, I was a Project Manager for Core Group One, Inc.  It is the reason why in the last year, I completed a Web Development program with Actualize Chicago, wherein I honed my skills in programming languages like Ruby and JavaScript. Currently, I am a freelance web developer managing several projects and continuing to develop my experience as a project manager in the technology industry.
            </p>
          </div> -->

        </div>
      </div>
    </div>
  </div>
  
    <div id="services" class="services">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 section-hader">
                <h3>Services</h3>
              </div>
              <div class="col-md-4 wow fadeInLeft light-bg">
                  <div class="services-box text-center shadow">
                      <span class="icon ti-widgetized"></span>
                      <h4>Storyboards</h4>
                      <p class="fixed-height">Storytelling invokes creativity. I am experienced in creating storyboards for television commercials and other ad campaigns.
                      </p>
                      <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                  </div>
              </div>

              <div class="col-md-4 wow fadeInDown inverted">
                  <div class="services-box text-center shadow">
                      <span class="icon ti-video-clapper"></span>
                      <h4>Video production</h4>
                      <p class="fixed-height">This was my favorite part of the job. Everything from pre-production, to running the set, to post. Being able to bring an idea to life was just fun. 
                      </p>
                      <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-02">more</a>
                  </div>
              </div>

              <div class="col-md-4 wow fadeInRight light-bg">
                  <div class="services-box text-center shadow">
                      <span class="icon ti-eraser"></span>
                      <h4>Video Editing</h4>
                      <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                      </p>
                      <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-03">more</a>
                  </div>
              </div>

              <div class="col-md-4 wow fadeInLeft inverted">
                  <div class="services-box text-center shadow">
                      <span class="icon ti-calendar"></span>
                      <h4>Event Planning</h4>
                      <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                      </p>
                      <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-04">more</a>
                  </div>
              </div>

              <div class="col-md-4 wow fadeInUp light-bg">
                  <div class="services-box text-center shadow">
                      <span class="icon ti-desktop"></span>
                      <h4>Web Development</h4>
                      <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                      </p>
                      <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-05">more</a>
                  </div>
              </div>

              <div class="col-md-4 wow fadeInRight inverted">
                  <div class="services-box text-center shadow">
                      <span class="icon ti-mobile"></span>
                      <h4>Project Management</h4>
                      <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                      </p>
                      <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-06">more</a>
                  </div>
              </div>
          </div>
        </div>
      <!--  SERVICE MODAL -->
        <div id="service-01" class="modal fade services-modal" role="dialog" tabindex="-1" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body">
                        <div class="post-entry post-entry-modal">

                            <div class="services-box text-center pb-60">
                                <span class="icon ti-widgetized"></span>
                                <h4>Storyboards</h4>
                                <h3 class="mb-60">Storytelling invokes creativity. I am experienced in creating storyboards for television commercials and other ad campaigns.</h3>
                              <p>After the concept or script has been approved by the client, I would then go on to storyboard the "action" in a series of scenes, panel by panel illustration. This allowed our client, team of producers, art directors and film crew to evaluate the direction of the project before beginning production.</p> 

                              <p>I used the Adobe software suites for a customized template --Photoshop. 90% of the time, I pulled stock images from shutterstock for the visuals. Real-life images with facial expressions, best represented the emotions our script was trying to portray. It helped bring the idea to life. Then I began to put these images in order; a scene by scene timeline, along with a description beneath each image to complete the storyboard. At the event that I cannot find any images from stock to best represent the concept or script, I would use Illustrator to create the scene or action needed.</p>

                              <p>When I finished the storyboard, I would proceed by scheduling a meeting with the client, in-house team and the video director to present the material. This gave everyone the opportunity to address any issues or make valid changes if needed.</p>

                              <p>My ability to understand the mood and interpret the requirements from the concept were vital to the beginning stages of the project. I needed to be willing to consider and learn new artistic styles outside my “comfort zone” in order to deliver the storyboards seamlessly. We essentially relied on the storyboard (everything from wardrobe, location scout, etc.) to keep the project "visually" on track. 
                              </p>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SERVICE MODAL -->

        <!--  SERVICE MODAL -->
        <div id="service-02" class="modal fade services-modal" role="dialog" tabindex="-2" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body">
                        <div class="post-entry post-entry-modal">

                            <div class="services-box text-center pb-60">
                                <span class="icon ti-video-clapper"></span>
                                <h4>Video Production</h4>
                                <h3 class="mb-60">This was my favorite part of the job. Everything from pre-production, to running the set, to post. Being able to bring an idea to life was just fun.</h3>
                              
                              <p><b>Pre-production</b>: As a video producer, I was charged with assembling the in-house team, hiring a director, creating concepts and presenting concepts to client. Once client approved of the concept, I began planning the actual shoot date. I produced scripts, storyboards, budgets, schedules, contacted and hired talent, hair and make-up artists, stylists and food vendors. I organized and held casting calls, negotiated and generated talent and vendor contracts, went on location scouts, acquired location permits, reserved and rented equipment, allocated resources, set deadlines and selected optimal forms of media for projects. Anything that needed to be done before the actual shoot date was planned and organized by me.</p>

                              <p><b>Running the Set</b>: On the day of the video shoot, my main role was to make sure filming stayed on schedule, as well as troubleshoot any unexpected issues. It was my responsibility to monitor everything from set-up to clean up. I am experienced working long hours on my feet, and I will do anything from going on a coffee run for the crew, to helping move or pack equipment and props. Whatever it took to get the job done.</p>

                              <p><b>Post production</b>: After we wrapped up filming, post production began. During post, it was important to manage and participate during video editing, color correction and audio. Collaborating with the video editor and sound engineer was important to make sure that we remained true to the script and stayed on schedule. And last, but certainly not least, I worked with the accounting department to process payments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SERVICE MODAL -->

        <!--  SERVICE MODAL -->
        <div id="service-03" class="modal fade services-modal" role="dialog" tabindex="-3" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body">
                        <div class="post-entry post-entry-modal">

                            <div class="services-box text-center pb-60">
                                <span class="icon ti-widgetized"></span>
                                <h4>Video Editing</h4>
                                <h3 class="mb-60">Storytelling invokes creativity. I am experienced in creating storyboards for television commercials and other ad campaigns.</h3>
                              <p>After the concept or script has been approved by the client, I would then go on to storyboard the "action" in a series of scenes, panel by panel illustration. This allowed our client, team of producers, art directors and film crew to evaluate the direction of the project before beginning production.</p> 

                              <p>I used the Adobe software suites for a customized template --Photoshop. 90% of the time, I pulled stock images from shutterstock for the visuals. Real-life images with facial expressions, best represented the emotions our script was trying to portray. It helped bring the idea to life. Then I began to put these images in order; a scene by scene timeline, along with a description beneath each image to complete the storyboard. At the event that I cannot find any images from stock to best represent the concept or script, I would use Illustrator to create the scene or action needed.</p>

                              <p>When I finished the storyboard, I would proceed by scheduling a meeting with the client, in-house team and the video director to present the material. This gave everyone the opportunity to address any issues or make valid changes if needed.</p>

                              <p>My ability to understand the mood and interpret the requirements from the concept were vital to the beginning stages of the project. I needed to be willing to consider and learn new artistic styles outside my “comfort zone” in order to deliver the storyboards seamlessly. We essentially relied on the storyboard (everything from wardrobe, location scout, etc.) to keep the project "visually" on track. 
                              </p>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SERVICE MODAL -->

                <!--  SERVICE MODAL -->
        <div id="service-04" class="modal fade services-modal" role="dialog" tabindex="-4" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body">
                        <div class="post-entry post-entry-modal">

                            <div class="services-box text-center pb-60">
                                <span class="icon ti-widgetized"></span>
                                <h4>Event Planning</h4>
                                <h3 class="mb-60">Storytelling invokes creativity. I am experienced in creating storyboards for television commercials and other ad campaigns.</h3>
                              <p>After the concept or script has been approved by the client, I would then go on to storyboard the "action" in a series of scenes, panel by panel illustration. This allowed our client, team of producers, art directors and film crew to evaluate the direction of the project before beginning production.</p> 

                              <p>I used the Adobe software suites for a customized template --Photoshop. 90% of the time, I pulled stock images from shutterstock for the visuals. Real-life images with facial expressions, best represented the emotions our script was trying to portray. It helped bring the idea to life. Then I began to put these images in order; a scene by scene timeline, along with a description beneath each image to complete the storyboard. At the event that I cannot find any images from stock to best represent the concept or script, I would use Illustrator to create the scene or action needed.</p>

                              <p>When I finished the storyboard, I would proceed by scheduling a meeting with the client, in-house team and the video director to present the material. This gave everyone the opportunity to address any issues or make valid changes if needed.</p>

                              <p>My ability to understand the mood and interpret the requirements from the concept were vital to the beginning stages of the project. I needed to be willing to consider and learn new artistic styles outside my “comfort zone” in order to deliver the storyboards seamlessly. We essentially relied on the storyboard (everything from wardrobe, location scout, etc.) to keep the project "visually" on track. 
                              </p>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SERVICE MODAL -->

        <!--  SERVICE MODAL -->
        <div id="service-05" class="modal fade services-modal" role="dialog" tabindex="-5" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body">
                        <div class="post-entry post-entry-modal">

                            <div class="services-box text-center pb-60">
                                <span class="icon ti-widgetized"></span>
                                <h4>Web Development</h4>
                                <h3 class="mb-60">Storytelling invokes creativity. I am experienced in creating storyboards for television commercials and other ad campaigns.</h3>
                              <p>After the concept or script has been approved by the client, I would then go on to storyboard the "action" in a series of scenes, panel by panel illustration. This allowed our client, team of producers, art directors and film crew to evaluate the direction of the project before beginning production.</p> 

                              <p>I used the Adobe software suites for a customized template --Photoshop. 90% of the time, I pulled stock images from shutterstock for the visuals. Real-life images with facial expressions, best represented the emotions our script was trying to portray. It helped bring the idea to life. Then I began to put these images in order; a scene by scene timeline, along with a description beneath each image to complete the storyboard. At the event that I cannot find any images from stock to best represent the concept or script, I would use Illustrator to create the scene or action needed.</p>

                              <p>When I finished the storyboard, I would proceed by scheduling a meeting with the client, in-house team and the video director to present the material. This gave everyone the opportunity to address any issues or make valid changes if needed.</p>

                              <p>My ability to understand the mood and interpret the requirements from the concept were vital to the beginning stages of the project. I needed to be willing to consider and learn new artistic styles outside my “comfort zone” in order to deliver the storyboards seamlessly. We essentially relied on the storyboard (everything from wardrobe, location scout, etc.) to keep the project "visually" on track. 
                              </p>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SERVICE MODAL -->

                <!--  SERVICE MODAL -->
        <div id="service-06" class="modal fade services-modal" role="dialog" tabindex="-6" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body">
                        <div class="post-entry post-entry-modal">

                            <div class="services-box text-center pb-60">
                                <span class="icon ti-widgetized"></span>
                                <h4>Project Management</h4>
                                <h3 class="mb-60">Storytelling invokes creativity. I am experienced in creating storyboards for television commercials and other ad campaigns.</h3>
                              <p>After the concept or script has been approved by the client, I would then go on to storyboard the "action" in a series of scenes, panel by panel illustration. This allowed our client, team of producers, art directors and film crew to evaluate the direction of the project before beginning production.</p> 

                              <p>I used the Adobe software suites for a customized template --Photoshop. 90% of the time, I pulled stock images from shutterstock for the visuals. Real-life images with facial expressions, best represented the emotions our script was trying to portray. It helped bring the idea to life. Then I began to put these images in order; a scene by scene timeline, along with a description beneath each image to complete the storyboard. At the event that I cannot find any images from stock to best represent the concept or script, I would use Illustrator to create the scene or action needed.</p>

                              <p>When I finished the storyboard, I would proceed by scheduling a meeting with the client, in-house team and the video director to present the material. This gave everyone the opportunity to address any issues or make valid changes if needed.</p>

                              <p>My ability to understand the mood and interpret the requirements from the concept were vital to the beginning stages of the project. I needed to be willing to consider and learn new artistic styles outside my “comfort zone” in order to deliver the storyboards seamlessly. We essentially relied on the storyboard (everything from wardrobe, location scout, etc.) to keep the project "visually" on track. 
                              </p>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SERVICE MODAL -->

    </div>

  <div class="portfolio container-fluid no-padding" id="portfolio">
    <div class="row">
      <div class="col-md-12 section-hader">
            <h3>Portfolio</h3>
          </div>
    </div>
    <!-- SINGLE PORTFOLIO ITEM-->
    <div class="portfolio-row row">
      <div class="col-md-6 static padding">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/x-ulJwk3Pjw">
        </iframe>
      </div>

      <div class="col-md-6">
        <div class="portfolio-content pull-right">
          <div class="portfolio-content-wrapper">
            <h2>PIZZA HUT VIDEO<br><span class="small">TV Spot</span></h2>
            <div class="portfolio-buttons">
            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#portfolio-01">project detail</a>
            <a class="btn btn-default btn-lg">visit website</a>
            </div>
            <p class="portfolio-introduction">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- / SINGLE PORTFOLIO ITEM -->
    <!-- SINGLE PORTFOLIO ITEM-->
    <div class="portfolio-row row">
      <div class="col-md-6">
        <div class="portfolio-content pull-left">
          <div class="portfolio-content-wrapper">
            <h2>TACO BELL VIDEO<br><span class="small">TV | Social Media</span></h2>
            <div class="portfolio-buttons">
            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#portfolio-01">project detail</a>
            <a class="btn btn-default btn-lg">visit website</a>
            </div>
            <p class="portfolio-introduction">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 static padding">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/V0V20tjghgI">
        </iframe>
      </div>
    </div>
    <!-- / SINGLE PORTFOLIO ITEM -->
    <!-- SINGLE PORTFOLIO ITEM-->
    <div class="portfolio-row row">
      <div class="col-md-6 static padding">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/s_n0Mu39YBc">
        </iframe>
      </div>

      <div class="col-md-6">
        <div class="portfolio-content pull-right">
          <div class="portfolio-content-wrapper">
            <h2>RESTAURANT WEEK HAWAII<br><span class="small">TV | Web</span></h2>
            <div class="portfolio-buttons">
            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#portfolio-01">project detail</a>
            <a class="btn btn-default btn-lg">visit website</a>
            </div>
            <p class="portfolio-introduction">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- / SINGLE PORTFOLIO ITEM -->   
   
        <!-- PORTFOLIO MODAL -->
        <div id="portfolio-01" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body modal-lg">
                        <div class="portfolio-modal">
                            <div class="portfolio-modal-content">
                <div class="row">
                                  <div class="col-md-3 text-left">
                                       <h3 class="mb-60">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>

                                      <p class="portfolio-introduction">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                                  </div>

                                  <div class="col-md-9">
                                    <div class="carousel slide portfolio-slide carousel-fade" id="portfolio-carousel">
                                      <!-- WRAPPER FOR SLIDES -->
                                      <div class="carousel-inner cont-slider">
                                            <div class="item active">
                                                <img alt="" title="" src="assets/img/portfolio-2.jpg">
                                            </div>

                                            <div class="item">
                                                <img alt="" title="" src="assets/img/portfolio-3.jpg">
                                            </div>

                                            <div class="item">
                                                <img alt="" title="" src="assets/img/portfolio-4.jpg">
                                            </div>

                                            <div class="item">
                                                <img alt="" title="" src="assets/img/portfolio-5.jpg">
                                            </div>
                                      </div>
                                      <!-- / WRAPPER FOR SLIDES -->
                                      <!-- INDICATORS -->
                                      <ol class="carousel-indicators">
                                            <li class="active" data-slide-to="0" data-target="#portfolio-carousel">
                                                <img alt="" src="assets/img/portfolio-2.jpg">
                                            </li>
                                            <li class="" data-slide-to="1" data-target="#portfolio-carousel">
                                                <img alt="" src="assets/img/portfolio-3.jpg">
                                            </li>
                                            <li class="" data-slide-to="2" data-target="#portfolio-carousel">
                                                <img alt="" src="assets/img/portfolio-4.jpg">
                                            </li>
                                            <li class="" data-slide-to="3" data-target="#portfolio-carousel">
                                                <img alt="" src="assets/img/portfolio-5.jpg">
                                            </li>
                                        </ol>

                                      <!-- / INDICATORS -->
                                    </div>
                                  </div>
                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / PORTFOLIO MODAL -->
  </div>
  <div id="testimonials" class="testimonials div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 section-hader">
                <h3 class="light">Testimonials</h3>
              </div>
                <div class="testimonials-slider text-center col-md-12">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img class="wow fadeInUp" src="assets/img/avatar.jpg" alt="user avatar">
                                <h3 class="wow fadeInUp mb-60 mt-30" data-wow-delay=".4s">Martin Johe, Co-Founder / CEO
                                <span>Fastcompany ltd.</span>
                              </h3>

                                <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img src="assets/img/avatar.jpg" alt="user avatar">
                                <h3 class="mb-60 mt-30">Martin Johe, Co-Founder / CEO
                                <span>Fastcompany ltd.</span>
                              </h3>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img src="assets/img/avatar.jpg" alt="user avatar">
                                <h3 class="mb-60 mt-30">Martin Johe, Co-Founder / CEO
                                <span>Fastcompany ltd.</span>
                              </h3>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-pagination"></div>
                    <div class="testimonials-slider-next right-arrow">
                        <span class="ti-arrow-right"></span>
                    </div>

                    <div class="testimonials-slider-prev left-arrow">
                        <span class="ti-arrow-left"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div id="timeline" class="timeline div">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 section-hader">
                <h3>Timeline</h3>
              </div>
                <div class="col-md-12">
                    <ul class="timeline-list">
                        <li class="">
                            <div class="timeline-badge wow pulse" data-wow-delay=".3s" data-wow-iteration="2">
                                <span class="ti-briefcase"></span>
                            </div>
                            <div class="timeline-item shadow wow fadeInLeft">
                                <span class="timeline-date h4">JULY 2017 - NOVEMBER 2017</span>
                                <h4 class="timeline-title">QA ENGINEER INTERN | ORA</h4>

                                <div class="timeline-content">
                                  <p>• Experienced working in an agile development process</p>
                                  <p>• Tested all projects’ features before they were released</p>
                                  <p>• Developed and executed test plans and test cases around ‘happy path’ testing and edge cases</p>
                                  <p>• Consistently worked alongside Product Managers and Developers to plan testing for company projects</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge wow pulse" data-wow-delay=".3s" data-wow-iteration="2">
                                <span class="ti-panel"></span>
                            </div>
                            <div class="timeline-item shadow wow fadeInRight">
                                <span class="timeline-date h4">JAN 2017 - MAY 2017</span>
                                <h4 class="timeline-title">STUDENT | ACTUALIZE CODING BOOTCAMP AND APPRENTICESHIP</h4>

                                <div class="timeline-content">
                                    <p>• Twelve weeks of in-class instruction, studying and gaining fundamental knowledge of the Ruby programming language, JavaScript and frameworks like Ruby on Rails, Vue.js, and Bootstrap</p>
                                    <p>• Trained in structuring applications and writing code using MVC platforms</p>
                                    <p>• Designed RESTful APIs and managed multiple back-end systems</p>
                                    <p>• Experienced with working in a team, using Github to push branches and pull updated versions of the application to efficiently move team projects forward</p>
                                    <p>• Built final capstone project -- a personal gift shopper web application</p>
                                </div>
                            </div>
                        </li>

                        <li class="">
                            <div class="timeline-badge wow pulse" data-wow-delay=".3s" data-wow-iteration="2">
                                <span class="ti-briefcase"></span>
                            </div>
                            <div class="timeline-item shadow wow fadeInLeft">
                                <span class="timeline-date h4">JAN 2014 - MAY 2016</span>
                                <h4 class="timeline-title">CREATIVE MANAGER | CORE GROUP ONE, INC.</h4>

                                <div class="timeline-content">
                                    <p>• Managed and maintained Ala Moana Center website, the largest mall in Hawaii</p>
                                    <p>• Project manager and broadcast producer for clients such as Taco Bell and Pizza Hut Hawaii</p>
                                    <p>• Produced, directed and edited videos for Restaurant Week Hawaii and University of Hawaii Wahine Basketball Team</p>
                                    <p>• Worked with team to plan and create advertising campaigns for client</p>
                                    <p>• Developed and presented a business plan to monetize the company’s in-house audio room</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge wow pulse" data-wow-delay=".3s" data-wow-iteration="2">
                                <span class="ti-panel"></span>
                            </div>
                            <div class="timeline-item shadow wow fadeInRight">
                                <span class="timeline-date h4">JULY 2012 - MAY 2014</span>
                                <h4 class="timeline-title">MARKETING INTERN | M NIGHTCLUB</h4>

                                <div class="timeline-content">
                                    <p>• Collaborated and worked with Marketing Director to promote and publicize events</p>
                                    <p>• Contacted and negotiated deals and contracts with event sponsors</p>
                                    <p>• Studied and monitored trends to generate interest and successfully execute events</p>
                                    <p>• Produced social media content</p>
                                    <p>• Managed M Nightclub's booth at the bridal expo (promote venue for bachelor and bachelorette parties)</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

  <div class="about-counter text-center">
    <div class="" id="about-counter">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.2s" data-wow-duration="1s" data-wow-offset="0">
            <div class="counter"> <span class="ti-crown icon"></span>
              <h2 class="timer">250</h2>
              <p> Projects Finished </p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.3s" data-wow-duration="1s" data-wow-offset="0">
            <div class="counter"> <span class="ti-shortcode icon"></span>
              <h2 class="timer">756</h2>
              <p> psd files </p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.4s" data-wow-duration="1s" data-wow-offset="0">
            <div class="counter"> <span class="ti-cup icon"></span>
              <h2 class="timer">42</h2>
              <p> Award Won </p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1s" data-wow-offset="0">
            <div class="counter"> <span class="ti-comments-smiley icon"></span>
              <h2 class="timer">240</h2>
              <p> Satisfied Clients </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id="contact" class="contact contact-with-map section">
        <div class="container-fluid no-padding">
            <div class="row">
              <div class="col-md-12 section-hader">
                <h3>Contact</h3>
              </div>

                <div class="col-md-8 col-md-push-2">
                    <div class="contact-form">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                            </div>

                            <button type="button" id="submit" name="submit" class="btn btn-margin btn-primary btn-lg text-center">send</button>
                        </form>
                    </div>
                </div>
            </div>

          <!-- <div class="google-maps">
              <div id="map-canvas"></div>
          </div> -->

        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="footer-logo" src="assets/img/logo.png" alt="footer-logo">
               <div class="contact-data">
            <ul>
              <li><span class="ti-mobile icon"></span>+ 815 302 2204</li>
              <li><span class="ti-email icon"></span>dmonti15@gmail.com</li>
              <li><span class="ti-pin icon"></span>Orland Park, IL</li>
            </ul>
          </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="about-social mt-30">
            <li><a href="https://github.com/dmonti15" class="pull-left"><span class="ti-github"></span></a></li>
            <li><a href="https://www.instagram.com/handsomedanni/" class="pull-left"><span class="ti-instagram"></span></a></li>
            <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
           <!--  <li><a href="#" class="pull-left"><span class="ti-vimeo"></span></a></li>
            <li><a href="#" class="pull-left"><span class="ti-tumblr"></span></a></li> -->
          </ul>
                </div>
            </div>
        </div>
    </footer>
  <script src="assets/js/wow.js"></script>
  <script>
  window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')
  </script>
  <script src="assets/js/swiper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.countTo.js"></script>
  <script src="assets/js/jquery.inview.js"></script>
  <script src="assets/js/bootstrap-select.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g"></script>
  <script src="assets/js/main.js"></script>
  </body>
</html>